.App {
  text-align: center;
}

.bg-img{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -150;
  display: block;
  background-color: #333333;
  object-fit: cover;
}

.clock{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
}

.btn-primary{
  color:#FFFFFF;
  border-color: #FFFFFF;
}

.btn-primary:hover{
  color:#000000;
  background-color:#FFFFFF;
}
 